---
import ThreePoints from '../../layouts/ThreePoints.astro';
---
<ThreePoints title="Ultimate Charades" faviconLink="/ultimateCharades.ico" siteUrl="https://ultimatecharades.g3tech.net">
    <p slot="description">
        Ultimate charades is a tool to assist with setting up, playing, and scoring charades.
    </p>
    <div slot="point1">
        <h2>
            Setup
        </h2>
        <p>
            Join a lobby, select a team, and select words.
        </p>
    </div>
    <div slot="point2">
        <h2>
            Play
        </h2>
        <p>
            Displays who is up, what the word is to that person, and a timer.
        </p>
    </div>
    <div slot="point3">
        <h2>
            Score
        </h2>
        <p>
            Determines winner based on timer results.
        </p>
    </div>
</ThreePoints>
