---
import ThreePoints from '../../layouts/ThreePoints.astro';
---
<ThreePoints title="Donation Engine" faviconLink="/donationEngine.svg" siteUrl="https://donationengine.g3tech.net">
    <p slot="description">
        The donation engine helps manage donations.
    </p>
    <div slot="point1">
        <h2>
            Categories
        </h2>
        <p>
            Drag and drop charities into categories or choose from presets.
        </p>
    </div>
    <div slot="point2">
        <h2>
            Rules
        </h2>
        <p>
            Apply various percentage/weighting rules to charities and categories to gtenerate cash values for each charity.
        </p>
    </div>
    <div slot="point3">
        <h2>
            Donation Cycle
        </h2>
        <p>
            Donate with links to the donation platform every.org with fields pre-filled.
        </p>
    </div>
</ThreePoints>
