---
import ThreePoints from '../../layouts/ThreePoints.astro';
---
<ThreePoints title="G3Tech.net" faviconLink="/G3 Square.png" siteUrl="https://github.com/Gateway3B/G3Tech">
    <p slot="description">
        This website, written using astro and three.js.
    </p>
    <div slot="point1">
        <h2>
            Three.js
        </h2>
        <p>
            The home page is written in the 3d library three.js. It features an animated G3 logo, imported textures, and a custom event/animiation system.
        </p>
    </div>
    <div slot="point2">
        <h2>
            Creations by Gateway3
        </h2>
        <p>
            Showcase website of all the things I create. From websites and videos, to 3d models and music.
        </p>
    </div>
    <div slot="point3">
        <h2>
            Learning new things
        </h2>
        <p>
            I like to try out new things. This project was my first time using three.js and astro.
        </p>
    </div>
</ThreePoints>
