---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, name, iconUrl } = Astro.props;
---

<a href={href} target="_blank" title={name}>
    <img src={iconUrl}/>
</a>
<style>
    a {
        text-decoration: none;
    }
</style>