---
import '../styles/global.css';
import { SITE_TITLE } from '../config';
import { SITE_DESCRIPTION } from '../config';
---
<script>
    const lowerAlpha = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
    const upperAlpha = lowerAlpha.map(alpha => alpha.toUpperCase());
    const numerals = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
    const alphaNumerals = [...lowerAlpha, ...upperAlpha, ...numerals];


    let title;
    let description;
    if (window.innerWidth > 700) {
        title = document.querySelector('#title-large')!;
        description = document.querySelector('#description-large')!; 
    } else {
        title = document.querySelector('#title-small')!;
        description = document.querySelector('#description-small')!;
    }

    title.setAttribute('selected', 'true')
    description.setAttribute('selected', 'true')

    const hackerAnimate = (element: Element) => {
        const stayCount = 2;
        const cycleTime = 80;
        
        const fullText = element.getAttribute('full-text')!;
        
        let cycleCount = 0;

        const cycle = setInterval(function() {
            const letterIndex = Math.floor(cycleCount / stayCount);

            if (letterIndex > fullText.length) {
                element.setAttribute('done', 'true');
                clearInterval(cycle);
            }

            const settledText = fullText.slice(0, letterIndex);
            const randomText = [...fullText.slice(letterIndex, fullText.length)]
                .map(() => {
                    const index = Math.floor(Math.random() * alphaNumerals.length);
                    const randomLetter = alphaNumerals[index];

                    return randomLetter;
                });
            element.textContent = settledText + randomText;

            cycleCount++;
        }, cycleTime);
    }

    hackerAnimate(title);
    hackerAnimate(description);
</script>

<style>
    #card {
        position: fixed;
        left: 20%;
        top: 10%;
        text-align: left;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
</style>

<div id="card" style="max-width: unset;">
    <h1 id="title-large" full-text={`Loading ${SITE_TITLE}`}></h1>
    <h2 id="description-large" full-text={SITE_DESCRIPTION}></h2>
    <h3 id="title-small" full-text={`Loading ${SITE_TITLE}`}></h1>
    <h4 id="description-small" full-text={SITE_DESCRIPTION}></h2>
</div>