---
import Model from './Model.astro';

export interface Model {
    id: number;
    name: string;
    public_url: string;
    thumbnail: string;
    preview_image: string;
}

const thingiverseApi = 'https://api.thingiverse.com/users/Gateway3/things';
let models_resp = await fetch(thingiverseApi, { headers: { Authorization: import.meta.env.THINGIVERSE_API_TOKEN } }).then(r => r.json());
let models: Model[];
if (models_resp.error) {
    models = [];
} else {
    models = models_resp;
}
---
<section>
    <div>
        {
            models.map(model => (
                <Model params={model}/>
            ))
        }
    </div>
</section>

<style>
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: .5rem;
        margin-left: .5rem;
    }
</style>