---
import '../styles/global.css';

export interface Props {
    title: string;
    faviconLink: string;
    siteUrl: string;
}

const {
    title, 
    faviconLink, 
    siteUrl, 
} = Astro.props;
---
<script>
    const anchors = document.querySelectorAll('article a');
    anchors.forEach(anchor => {
        anchor.setAttribute('target', '__blank');
        anchor.setAttribute('rel', 'noopener noreferrer');
    })
</script>

<a href=`${siteUrl}` target="_blank">
    <article>
        <link rel="icon" type={`image/${faviconLink.slice(faviconLink.indexOf('.', -1) + 1)}`} href={faviconLink} />
        <header>
            <img src={faviconLink} height="100px" width="100px"/>
            <div>
                <h1>{title}</h1>
                <slot name="description" />
            </div>
        </header>
        <section>
            <div>
                <slot name="point1" class="point" />
            </div>
            <div>
                <slot name="point2" />
            </div>
            <div>
                <slot name="point3" />
            </div>
        </section>
    </article>
</a>

<style>
    a {
        color: inherit;
        text-decoration: none;
    }
    article {
        margin-bottom: 3rem;
        cursor: pointer;
    }
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    header {
        display: flex;
        align-items: center;
    }
    header > img {
        margin-left: 5%;
        margin-right: 5%;
    }
    section {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    section > div {
        max-width: 28%;
    }
    img {
        max-width: 100px;
        max-height: 100px;
        width: -webkit-fill-available;
    }
</style>
